ion-accordion{
    margin-top: .25rem;
}

ion-icon.iconoFavoritoActivo{
    color:yellow
}
ion-icon{
    color:white
}

#loadingAnimation{
    width: 100%;
    margin-top: 25%;
    border: none;
}

#animationContainer1{
    height: 80%;
    width: 100%;
}

#animationContainer2{
    width: 100%;
}